*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* ----------------------------------------------------------------------------- */

/* "PARAMETRI" INTESTAZIONE DELLA PAGINA */

section{
    margin-top: 50px;
}

.titolo{
    color: rgb(186, 81, 81);
    text-align: center;
}

.paragrafo{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

/* ----------------------------------------------------------------------------- */

/* PARAMETRI DELLA CARD */

.team-container{
    display: flex;
    /* background-color: black; */
    width: 400px;
    margin-top: 80px;
    margin-left: 40px;
}

.team-card {
    display: flex;
    background-color: black;
}

.card-text{
    margin-top: 5px;
    margin-left: 10px;
    color: white;
}

.email-bianchi{
    color: rgb(56, 111, 182);
}